<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.perafan.usuarios">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Usuarios">
        <activity
            android:name=".ListaCompradorActivity"
            android:exported="false"/>
        <activity
            android:name=".FichaUsuarioActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaUsuarioActivity" />
        </activity>
        <activity
            android:name=".ListaUsuarioActivity"
            android:exported="false"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name=".ListatiendaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegistroSongActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListatiendaActivity" />
        </activity>
        <activity
            android:name=".RegistroUsuarioActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaUsuarioActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FichaCancionActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListatiendaActivity" />
        </activity>
        <activity
            android:name=".EditarCancionActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListatiendaActivity" />
        </activity>
        <activity
            android:name=".EditarUsuarioActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListaUsuarioActivity" />
        </activity>
    </application>

</manifest>